server:
  port: 8082


spring:
  datasource:
  url: jdbc:mysql://localhost:3306/smsnew
  username: root
  password: 1234

  jpa:
    database: MYSQL
    show-sql: true
    hibernate:
      ddl-auto: update
