server:
  port: 8081
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/cruisemdm
    username: root
    password: 1234
  jpa:
    database: MYSQL
    show-sql: true
    hibernate:
      ddl-auto: update
